* {
  --accent-button-bg-color: #135a90;
  --disabled-button-bg-color: #a29087;
  --pagination-button--bg-color: #d77e58;
  --accent-pagination-button--bg-color: #d74100;
  --accent-pagination-item--bg-color: #bcaba4;

  /* bg colors */

  --bg-color_main: #F9F8EB;
  --bg-color_section: #C8E6F5;
  --bg-color_bottom-section: #F7C9B6;

  /* text colors */

  --text-color_main: #313131;
  --text-color_accent: #CB3B2E;
  --text-color_accent-hover: #F9F8EB;

  /* decoration colors */

  --border-color_main: #5CA0D3;

  /* button colors */
  --button-color_main: #C8E6F5;
  --button-color_main-border: #5CA0D3;
  --button-color_main-accent: #135A90;

  --button-color_warning: #faac8a;
  --button-color_warning-border: #d77e58;
  --button-color_warning-accent: #CB3B2E;
}