.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15%;
  background-color: var(--section-color);
  border-radius: 20px;
  padding: 5%;
}

.main-heading-header {
  color: var(--accent-text-color);
}

.desc-text-header {
  font-weight: 700;
}