* {
  font-family: "Overpass Mono", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: var(--bg-color_main);
  color: var(--text-color_main);
}

#root {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}