.top-section {
  height: 10%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}

.top-section_button-error {
  width: 100px;
  height: 45px;
  background-color: var(--button-color_warning);
  border: 3px solid var(--button-color_warning-border);
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.top-section_button-error:hover {
  background-color: var(--button-color_warning-accent);
  color: var(--text-color_accent-hover);
  opacity: 0.7;
  transition-duration: 0.5s;
}

.top-section_button-error:active {
  opacity: 0.5;
  transition-duration: 0.5s;
}

.top-section_form-search {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.form-search_input-text {
  width: 80%;
  height: 43px;
  background-color: var(--bg-color_main);
  border: 3px solid var(--border-color_main);
  border-radius: 10px;
  text-align: center;
  font-weight: 800;
  font-size: 15px;
}

.form-search_input-submit {
  width: 100px;
  height: 45px;
  background-color: var(--button-color_main);
  border: 3px solid var(--button-color_main-border);
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.form-search_input-submit:hover {
  background-color: var(--button-color_main-accent);
  color: var(--text-color_accent-hover);
  opacity: 0.7;
  transition-duration: 0.5s;
}

.form-search_input-submit:active {
  opacity: 0.5;
  transition-duration: 0.5s;
}